body{
  font-size:28px;
  text-align:center;
}

p{
  border:groove;
}

p:active{
  background-color:black;
  color:white;
}

h1{
  text-align:center;
}

button{
  font-size:28px;
  text-align:center;
  left:50%;
}

button:hover{
  background-color:black;
  color:white;
}

button:active{
  background-color: cornflowerblue;
  color:crimson;
}

a{
  font-style:italic;
}

a:link{
  color:black;
}

a:visited{
  color:crimson;
}
